.divProfile {
  border: 4px solid #212121;
  width: 600px;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}

.divCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}


.imgUser {
  border-radius: 50%;
  background-color: #2a2a2a;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.pCardName {
  font-weight: bold;
  margin-top: 30px;
  font-size: 40px;
}

.pCard {
  font-size: 30px;
  color: #808080;
  margin-top: 15px;
}

.ulStats {
  display: flex;
  border-top: 4px solid #808080;
  width: 100%;
  margin-top: 30px;
}

.liStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 25px;
  width: 100%;
  background-color: #d3d3d3;
  border-right: 2px solid #808080;
  border-left: 2px solid #808080;
}

.title {
  font-size: 30px;
}

.info {
  font-size: 30px;
  font-weight: bold;
}