.online {
    color: green
}

.offline {
    color: red;
}

status {
  font-weight: bold;
}
.friendList {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}
.friendItem {
    border : 2px solid black;
    width: 130px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

}

.friendName {
    margin-top: 15px;
    font-size: 40px;
    
}